/**
* @name Neet
* @version 1.6
* @description Based on the Tranquil & CLearvision theme
* @author Nadezha
* @invite https://discord.gg/PnHRm7kBhmee
* @source https://github.com/KindredEmu06149/BetterDicord-Theme.git
*/
@import url("https://monstrousdev.github.io/themes/phoenix-bundle/tranquil.css");
@import url('https://fonts.googleapis.com/css2?family=Whitney');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
@import url("https://clearvision.gitlab.io/v6/main.css");
:root {
--roundness: 50px;
--main-color: #673AB7;
--hover-color: #3F51B5;
--home-color: #C90E4966;
--shadow: #673AB774;
--customFont: 'Whitney';
--code-font: 'Consolas';
--text-normal: #dcdddeff;
--text-muted: #72767dff;
--channels-width: 220px;
--members-width: 240px;
--background-shading: 100%;
--background-overlay: #00000099;
--background-image: url('https://i.imgur.com/etg78F0.png');
--background-size: cover;
--background-position: center;
--background-repeat: no-repeat;
--background-attachment: fixed;
--background-brightness: 100%;
--background-constrast: 100%;
--background-saturation: 100%;
--background-invert: 0%;
--background-grayscale: 0%;
--background-sepia: 0%;
--background-blur: 0px;
--home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
--home-position: center;
--home-size: 40px;
--background-overlay: #00000099;
--backdrop-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--backdrop-image: center;
--backdrop-size: cover;
--backdrop-repeat: repeat;
--backdrop-attachment: fixed;
--backdrop-brightness: 100%;
--backdrop-constrast: 100%;
--backdrop-saturation: 100%;
--backdrop-invert: 0%;
--backdrop-grayscale: 0%;
--backdrop-sepia: 0%;
--backdrop-blur: 0px;
--user-popout-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--user-popout-image: center;
--user-popout-size: cover;
--user-popout-repeat: repeat;
--user-popout-attachment: fixed;
--user-popout-brightness: 100%;
--user-popout-constrast: 100%;
--user-popout-saturation: 100%;
--user-popout-invert: 0%;
--user-popout-grayscale: 0%;
--user-popout-sepia: 0%;
--user-popout-blur: 0px;
--user-popout-overlay: #000000a6;
--user-modal-image: url('https://clearvision.gitlab.io/images/sapphire.jpg');
--user-modal-image: center;
--user-modal-size: cover;
--user-modal-repeat: repeat;
--user-modal-attachment: fixed;
--user-modal-brightness: 100%;
--user-modal-constrast: 100%;
--user-modal-saturation: 100%;
--user-modal-invert: 0%;
--user-modal-grayscale: 0%;
--user-modal-sepia: 0%;
--user-modal-blur: 0px;
--bd-blue: #2780e6;
--bd-blue-hover: #1e63b3;
--bd-blue-active: #1e63b3;
}
